IF COL_LENGTH(N'dbo.fn_identity_navigation', N'MenuType') IS NULL
    ALTER TABLE dbo.fn_identity_navigation ADD MenuType varchar(16) NULL;

IF COL_LENGTH(N'dbo.fn_identity_navigation', N'Redirect') IS NULL
    ALTER TABLE dbo.fn_identity_navigation ADD Redirect varchar(256) NULL;

IF COL_LENGTH(N'dbo.fn_identity_navigation', N'LinkUrl') IS NULL
    ALTER TABLE dbo.fn_identity_navigation ADD LinkUrl varchar(512) NULL;

IF COL_LENGTH(N'dbo.fn_identity_navigation', N'IsHidden') IS NULL
    ALTER TABLE dbo.fn_identity_navigation ADD IsHidden bit NULL;

IF COL_LENGTH(N'dbo.fn_identity_navigation', N'IsKeepAlive') IS NULL
    ALTER TABLE dbo.fn_identity_navigation ADD IsKeepAlive bit NULL;

IF COL_LENGTH(N'dbo.fn_identity_navigation', N'IsAffix') IS NULL
    ALTER TABLE dbo.fn_identity_navigation ADD IsAffix bit NULL;

IF COL_LENGTH(N'dbo.fn_identity_navigation', N'IsEmbedded') IS NULL
    ALTER TABLE dbo.fn_identity_navigation ADD IsEmbedded bit NULL;

IF COL_LENGTH(N'dbo.fn_identity_navigation', N'Remark') IS NULL
    ALTER TABLE dbo.fn_identity_navigation ADD Remark nvarchar(500) NULL;

UPDATE dbo.fn_identity_navigation SET MenuType = 'menu' WHERE MenuType IS NULL;
UPDATE dbo.fn_identity_navigation SET IsHidden = 0 WHERE IsHidden IS NULL;
UPDATE dbo.fn_identity_navigation SET IsKeepAlive = 0 WHERE IsKeepAlive IS NULL;
UPDATE dbo.fn_identity_navigation SET IsAffix = 0 WHERE IsAffix IS NULL;
UPDATE dbo.fn_identity_navigation SET IsEmbedded = 0 WHERE IsEmbedded IS NULL;

IF EXISTS (
    SELECT 1
    FROM sys.columns AS columnObject
    INNER JOIN sys.tables AS tableObject ON columnObject.object_id = tableObject.object_id
    WHERE tableObject.name = N'fn_identity_navigation'
      AND SCHEMA_NAME(tableObject.schema_id) = N'dbo'
      AND columnObject.name = N'MenuType'
      AND columnObject.is_nullable = 1)
BEGIN
    ALTER TABLE dbo.fn_identity_navigation ALTER COLUMN MenuType varchar(16) NOT NULL;
END;

IF NOT EXISTS (
    SELECT 1
    FROM sys.default_constraints AS defaultObject
    INNER JOIN sys.columns AS columnObject
        ON defaultObject.parent_object_id = columnObject.object_id
       AND defaultObject.parent_column_id = columnObject.column_id
    INNER JOIN sys.tables AS tableObject ON columnObject.object_id = tableObject.object_id
    WHERE tableObject.name = N'fn_identity_navigation'
      AND SCHEMA_NAME(tableObject.schema_id) = N'dbo'
      AND columnObject.name = N'MenuType')
BEGIN
    ALTER TABLE dbo.fn_identity_navigation
        ADD CONSTRAINT DF_fn_identity_navigation_MenuType DEFAULT ('menu') FOR MenuType;
END;

IF EXISTS (
    SELECT 1
    FROM sys.columns AS columnObject
    INNER JOIN sys.tables AS tableObject ON columnObject.object_id = tableObject.object_id
    WHERE tableObject.name = N'fn_identity_navigation'
      AND SCHEMA_NAME(tableObject.schema_id) = N'dbo'
      AND columnObject.name = N'IsHidden'
      AND columnObject.is_nullable = 1)
BEGIN
    ALTER TABLE dbo.fn_identity_navigation ALTER COLUMN IsHidden bit NOT NULL;
END;

IF NOT EXISTS (
    SELECT 1
    FROM sys.default_constraints AS defaultObject
    INNER JOIN sys.columns AS columnObject
        ON defaultObject.parent_object_id = columnObject.object_id
       AND defaultObject.parent_column_id = columnObject.column_id
    INNER JOIN sys.tables AS tableObject ON columnObject.object_id = tableObject.object_id
    WHERE tableObject.name = N'fn_identity_navigation'
      AND SCHEMA_NAME(tableObject.schema_id) = N'dbo'
      AND columnObject.name = N'IsHidden')
BEGIN
    ALTER TABLE dbo.fn_identity_navigation
        ADD CONSTRAINT DF_fn_identity_navigation_IsHidden DEFAULT (0) FOR IsHidden;
END;

IF EXISTS (
    SELECT 1
    FROM sys.columns AS columnObject
    INNER JOIN sys.tables AS tableObject ON columnObject.object_id = tableObject.object_id
    WHERE tableObject.name = N'fn_identity_navigation'
      AND SCHEMA_NAME(tableObject.schema_id) = N'dbo'
      AND columnObject.name = N'IsKeepAlive'
      AND columnObject.is_nullable = 1)
BEGIN
    ALTER TABLE dbo.fn_identity_navigation ALTER COLUMN IsKeepAlive bit NOT NULL;
END;

IF NOT EXISTS (
    SELECT 1
    FROM sys.default_constraints AS defaultObject
    INNER JOIN sys.columns AS columnObject
        ON defaultObject.parent_object_id = columnObject.object_id
       AND defaultObject.parent_column_id = columnObject.column_id
    INNER JOIN sys.tables AS tableObject ON columnObject.object_id = tableObject.object_id
    WHERE tableObject.name = N'fn_identity_navigation'
      AND SCHEMA_NAME(tableObject.schema_id) = N'dbo'
      AND columnObject.name = N'IsKeepAlive')
BEGIN
    ALTER TABLE dbo.fn_identity_navigation
        ADD CONSTRAINT DF_fn_identity_navigation_IsKeepAlive DEFAULT (0) FOR IsKeepAlive;
END;

IF EXISTS (
    SELECT 1
    FROM sys.columns AS columnObject
    INNER JOIN sys.tables AS tableObject ON columnObject.object_id = tableObject.object_id
    WHERE tableObject.name = N'fn_identity_navigation'
      AND SCHEMA_NAME(tableObject.schema_id) = N'dbo'
      AND columnObject.name = N'IsAffix'
      AND columnObject.is_nullable = 1)
BEGIN
    ALTER TABLE dbo.fn_identity_navigation ALTER COLUMN IsAffix bit NOT NULL;
END;

IF NOT EXISTS (
    SELECT 1
    FROM sys.default_constraints AS defaultObject
    INNER JOIN sys.columns AS columnObject
        ON defaultObject.parent_object_id = columnObject.object_id
       AND defaultObject.parent_column_id = columnObject.column_id
    INNER JOIN sys.tables AS tableObject ON columnObject.object_id = tableObject.object_id
    WHERE tableObject.name = N'fn_identity_navigation'
      AND SCHEMA_NAME(tableObject.schema_id) = N'dbo'
      AND columnObject.name = N'IsAffix')
BEGIN
    ALTER TABLE dbo.fn_identity_navigation
        ADD CONSTRAINT DF_fn_identity_navigation_IsAffix DEFAULT (0) FOR IsAffix;
END;

IF EXISTS (
    SELECT 1
    FROM sys.columns AS columnObject
    INNER JOIN sys.tables AS tableObject ON columnObject.object_id = tableObject.object_id
    WHERE tableObject.name = N'fn_identity_navigation'
      AND SCHEMA_NAME(tableObject.schema_id) = N'dbo'
      AND columnObject.name = N'IsEmbedded'
      AND columnObject.is_nullable = 1)
BEGIN
    ALTER TABLE dbo.fn_identity_navigation ALTER COLUMN IsEmbedded bit NOT NULL;
END;

IF NOT EXISTS (
    SELECT 1
    FROM sys.default_constraints AS defaultObject
    INNER JOIN sys.columns AS columnObject
        ON defaultObject.parent_object_id = columnObject.object_id
       AND defaultObject.parent_column_id = columnObject.column_id
    INNER JOIN sys.tables AS tableObject ON columnObject.object_id = tableObject.object_id
    WHERE tableObject.name = N'fn_identity_navigation'
      AND SCHEMA_NAME(tableObject.schema_id) = N'dbo'
      AND columnObject.name = N'IsEmbedded')
BEGIN
    ALTER TABLE dbo.fn_identity_navigation
        ADD CONSTRAINT DF_fn_identity_navigation_IsEmbedded DEFAULT (0) FOR IsEmbedded;
END;
