{
  "Database": {
    "Provider": "sqlserver",
    "ConnectionName": "app",
    "MySqlGuidStorageMode": "Binary16",
    "CommandTimeoutSeconds": 30
  },
  "FullNet": {
    "FrameworkManifest": {
      "RelativePath": "framework-manifest.json"
    },
    "Modules": {
      "Preset": "minimal"
    }
  },
  "Kestrel": {
    "Endpoints": {
      "Http": {
        "Url": "http://localhost:5180"
      }
    }
  }
}