$uni-color-primary: #08736d;
$uni-color-success: #20764f;
$uni-color-warning: #936109;
$uni-color-error: #b83e3e;
$uni-text-color: #17212b;
$uni-text-color-inverse: #fffefa;
$uni-text-color-grey: #596670;
$uni-bg-color: #f3f4ef;
$uni-bg-color-grey: #f3f4ef;
$uni-bg-color-hover: #dfe4df;
$uni-border-color: #dfe4df;
$uni-border-radius-sm: 6px;
$uni-border-radius-base: 12px;
