SET @menuTypeExists := (
    SELECT COUNT(1)
    FROM information_schema.COLUMNS
    WHERE TABLE_SCHEMA = DATABASE()
      AND TABLE_NAME = 'fn_identity_navigation'
      AND COLUMN_NAME = 'MenuType');

SET @addMenuTypeSql := IF(
    @menuTypeExists = 0,
    'ALTER TABLE fn_identity_navigation ADD COLUMN MenuType varchar(16) NOT NULL DEFAULT ''menu''',
    'SELECT 1');
PREPARE addMenuTypeStmt FROM @addMenuTypeSql;
EXECUTE addMenuTypeStmt;
DEALLOCATE PREPARE addMenuTypeStmt;

SET @redirectExists := (
    SELECT COUNT(1)
    FROM information_schema.COLUMNS
    WHERE TABLE_SCHEMA = DATABASE()
      AND TABLE_NAME = 'fn_identity_navigation'
      AND COLUMN_NAME = 'Redirect');

SET @addRedirectSql := IF(
    @redirectExists = 0,
    'ALTER TABLE fn_identity_navigation ADD COLUMN Redirect varchar(256) NULL',
    'SELECT 1');
PREPARE addRedirectStmt FROM @addRedirectSql;
EXECUTE addRedirectStmt;
DEALLOCATE PREPARE addRedirectStmt;

SET @linkUrlExists := (
    SELECT COUNT(1)
    FROM information_schema.COLUMNS
    WHERE TABLE_SCHEMA = DATABASE()
      AND TABLE_NAME = 'fn_identity_navigation'
      AND COLUMN_NAME = 'LinkUrl');

SET @addLinkUrlSql := IF(
    @linkUrlExists = 0,
    'ALTER TABLE fn_identity_navigation ADD COLUMN LinkUrl varchar(512) NULL',
    'SELECT 1');
PREPARE addLinkUrlStmt FROM @addLinkUrlSql;
EXECUTE addLinkUrlStmt;
DEALLOCATE PREPARE addLinkUrlStmt;

SET @isHiddenExists := (
    SELECT COUNT(1)
    FROM information_schema.COLUMNS
    WHERE TABLE_SCHEMA = DATABASE()
      AND TABLE_NAME = 'fn_identity_navigation'
      AND COLUMN_NAME = 'IsHidden');

SET @addIsHiddenSql := IF(
    @isHiddenExists = 0,
    'ALTER TABLE fn_identity_navigation ADD COLUMN IsHidden tinyint(1) NOT NULL DEFAULT 0',
    'SELECT 1');
PREPARE addIsHiddenStmt FROM @addIsHiddenSql;
EXECUTE addIsHiddenStmt;
DEALLOCATE PREPARE addIsHiddenStmt;

SET @isKeepAliveExists := (
    SELECT COUNT(1)
    FROM information_schema.COLUMNS
    WHERE TABLE_SCHEMA = DATABASE()
      AND TABLE_NAME = 'fn_identity_navigation'
      AND COLUMN_NAME = 'IsKeepAlive');

SET @addIsKeepAliveSql := IF(
    @isKeepAliveExists = 0,
    'ALTER TABLE fn_identity_navigation ADD COLUMN IsKeepAlive tinyint(1) NOT NULL DEFAULT 0',
    'SELECT 1');
PREPARE addIsKeepAliveStmt FROM @addIsKeepAliveSql;
EXECUTE addIsKeepAliveStmt;
DEALLOCATE PREPARE addIsKeepAliveStmt;

SET @isAffixExists := (
    SELECT COUNT(1)
    FROM information_schema.COLUMNS
    WHERE TABLE_SCHEMA = DATABASE()
      AND TABLE_NAME = 'fn_identity_navigation'
      AND COLUMN_NAME = 'IsAffix');

SET @addIsAffixSql := IF(
    @isAffixExists = 0,
    'ALTER TABLE fn_identity_navigation ADD COLUMN IsAffix tinyint(1) NOT NULL DEFAULT 0',
    'SELECT 1');
PREPARE addIsAffixStmt FROM @addIsAffixSql;
EXECUTE addIsAffixStmt;
DEALLOCATE PREPARE addIsAffixStmt;

SET @isEmbeddedExists := (
    SELECT COUNT(1)
    FROM information_schema.COLUMNS
    WHERE TABLE_SCHEMA = DATABASE()
      AND TABLE_NAME = 'fn_identity_navigation'
      AND COLUMN_NAME = 'IsEmbedded');

SET @addIsEmbeddedSql := IF(
    @isEmbeddedExists = 0,
    'ALTER TABLE fn_identity_navigation ADD COLUMN IsEmbedded tinyint(1) NOT NULL DEFAULT 0',
    'SELECT 1');
PREPARE addIsEmbeddedStmt FROM @addIsEmbeddedSql;
EXECUTE addIsEmbeddedStmt;
DEALLOCATE PREPARE addIsEmbeddedStmt;

SET @remarkExists := (
    SELECT COUNT(1)
    FROM information_schema.COLUMNS
    WHERE TABLE_SCHEMA = DATABASE()
      AND TABLE_NAME = 'fn_identity_navigation'
      AND COLUMN_NAME = 'Remark');

SET @addRemarkSql := IF(
    @remarkExists = 0,
    'ALTER TABLE fn_identity_navigation ADD COLUMN Remark varchar(500) NULL',
    'SELECT 1');
PREPARE addRemarkStmt FROM @addRemarkSql;
EXECUTE addRemarkStmt;
DEALLOCATE PREPARE addRemarkStmt;

UPDATE fn_identity_navigation SET MenuType = 'menu' WHERE MenuType IS NULL;
